@charset "UTF-8";

* {

    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {

    width: 0px;
    height: 0px;
}

html, body {

    background-color: black;
    height: 100vh; /* 100% - Altura total do navegador */
    width: 100vw; /* 100% - Largura total do navegador */
}

body {

    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center; /* Não repete a imagem, e foi alinhada no top e no centro */
    background-size: cover; /* cobre a tela toda com a imagem */
    background-attachment: fixed; /* fixar a imagem, causando um efeito de paralax */
}

main {

    height: 100vh;
    position: relative; /* Deixamos o posicionamento relativo do main, assim permite controlar o psicionamento do que está dentro dele, que no caso, uma (section com a id #telefone ) */
}

section#telefone {

    background-color: blue;
    width: 311px; /* largura da imagem do telefone */
    height: 627px; /* Altura da imagem do telefone */ 
    position: absolute;  /* Permite que posicionamos nosso telefone no meio da tela,  junto com os parametros top e left em 50% e o (transform - translate -50%, -50% */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* -50% para esquerda e -50% para cima, assim centralizado o telefone */
    background: url('../pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#tela { /* Organizando a posição do background do iframe do home.html */

    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    background-size: cover;
}

section#sociais img {

    width: 50px;
    margin: 10px;
    border-radius: 50%; /* Deixando 50% as bordas em torno do objeto fica redondo */
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box; /* Faz com que a borda faça parte do objeto, assim o restante dos icones não se mexem */

}

section#sociais {

    text-align: right;
}

section#sociais img:hover {

    border: 2px solid rgba(255, 255, 255, 0.585);
    transform: translate(-5px, -5px); /* quando passar o mouse em cima o icone, ele vai se movimentar -5px paa esquerda e -5px para direita */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
    transition: transform .5s; /* Adiciona efeito de transição */
    transition: transform border 1s;

}